 @charset "utf-8";
/* CSS Document */

.green {
	background:#1dcdfe;
	}
.green_light {
	background: #9ce6fa;
	}
.blue{
	background:#2f455c;
	} 
.dark_gray {
	background:#2f455c;
	}
.we-do .do-wrap a{
	color:#969696;
}

.we-do .do-wrap a:hover{
	color:#07aaa5;
}
.we-do .do-wrap:hover .top, we-do .do-wrap:focus .top, .we-do .do-wrap:hover span, .we-do .do-wrap:focus span{
	background:#1dcdfe;
}

.pricing_item.dark_gray {
    border-color: #969696;
}

.pricing_item.dark_gray .pricing_action{
    background: #969696;
}


.pricing_item.dark_gray:hover .pricing_action{
	border:1px solid transparent;
	background:#2f455c !important;
}


	